@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Nanum+Myeongjo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    text-decoration: none;
    color: #231137;
    box-sizing: border-box;
    margin: 0;
}